<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @audition.title %>
</p>

<p>
  <b>Type:</b>
  <%= @audition.type %>
</p>

<p>
  <b>Logo:</b>
  <%= @audition.logo %>
</p>

<p>
  <b>Description:</b>
  <%= @audition.description %>
</p>

<p>
  <b>Status:</b>
  <%= @audition.status %>
</p>

<p>
  <b>Zip:</b>
  <%= @audition.zip %>
</p>


<%= link_to 'Edit', edit_audition_path(@audition) %> |
<%= link_to 'Back', auditions_path %>
