<div id="user_container" class="multistep_form">
  <ul id="progress_step" class="progress_bar">
    <li id="step_one" class="current">
      Step 1
      <span>Basic Information</span>
    </li>
    <li id="step_two">
      Step 2
      <span>I am ..</span>
    </li>
    <li id="step_three">
      Step 3
      <span>Upload</span>
    </li>
  </ul>
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><!-- TODO: The most of the errors should be caught with javascript-->
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- First Step: Basic Information -->
  <div id="first_step" class="step_form">
    <h1>Basic information</h1>

    <div class="field">
      <%= f.label :thumbnail %><br />
      <%= f.file_field :thumbnail %>
    </div>
    <div class="field">
      <%= f.label :firstName, "First Name" %><span class="asterisk">*</span><br />
      <%= f.text_field :firstName, :class => "text_field_height text_field_width required" %>
    </div>
    <div class="field">
      <%= f.label :lastName, "Last Name" %><span class="asterisk">*</span><br />
      <%= f.text_field :lastName, :class => "text_field_height text_field_width required" %>
    </div>
    <div class="field expandable">
      <%= link_to "short bio" %><br />
      <%= f.text_area :selfBio, :rows => 5 %>
    </div>
    <div class="field expandable">
      <%= link_to "IMDb URL" %><br />
      <%= f.text_field :imdbUrl, :class => "text_field_height text_field_width" %>
    </div>
    <div class="field expandable">
      <%= link_to "Facebook page" %><br />
      <%= f.text_field :facebookId, :class => "text_field_height text_field_width" %>
    </div>
    <div class="field expandable">
      <%= link_to "Twitter ID" %><br />
      <%= f.text_field :twitterId, :class => "text_field_height text_field_width" %>
    </div>
    <div class="field expandable">
      <%= link_to "LinkedIn Page" %><br />
      <%= f.text_field :linkedInUrl, :class => "text_field_height text_field_width" %>
    </div>
    <div class="field" id="city_tags">
      <%= f.label :city_list, "City Tags (Test)" %><br />
      <%= f.text_field :city_list, :class => "text_field_height text_field_width" %>
      <% if @city_tags.length > MINIMUM_NUMBER_OF_TAGS  %>
        <% @city_tags.take(MINIMUM_NUMBER_OF_TAGS).each do |city| %>
          <a class="tag city_tag"><%= city %></a>
        <% end %>
      <% else %>
        <a href="javascript:void(0)" class="tag city_tag">Los Angeles, CA</a>
        <a href="javascript:void(0)" class="tag city_tag">Chicago, IL</a>
        <a href="javascript:void(0)" class="tag city_tag">Seattle, WA</a>
        <a href="javascript:void(0)" class="tag city_tag">Miami, FL</a>
        <a href="javascript:void(0)" class="tag city_tag">San Diego, CA</a>
      <% end %>
    </div>
    <!-- 
      Adding City using auto suggest
      TODO: Tagging should have its own controller.  
    -->
    <span class="auto_suggest">
        <a href="javascript:void(0)" id="add_new_city">Add City</a>
        <input id="new_city_label" title="city, state" class="text_field_height" />
    </span>
    <div class="footer_navigation" id="footer_navigation_first_step" name="footer_navigation_first_step">
      <input class="next_button nav_button" type="submit" name="submit_first_next" id="submit_first_next" value="NEXT" />
    </div>
  </div><!-- first_step -->
  
  
  <!-- Second Step: Roles -->  
  <div id="second_step" class="step_form">
    <h1>Role</h1>
    <h2>Field</h2>
    <h2>Theater</h2>
    <h2>Movie</h2>
    <h2>Dance</h2>
    <h2>Music</h2>
      <!-- TODO: Placeholder for tagging feature-->
    <div class="footer_navigation" id="footer_navigation_second_step" name="footer_navigation_second_step">
      <input type="submit" name="submit_second_back" id="submit_second_back" class="back_button nav_button" value="BACK" />
      <input type="submit" name="submit_second_next" id="submit_second_next" class="next_button nav_button" value="NEXT" />
    </div>
  </div><!-- second_step-->
  

<%= javascript_include_tag 'http://cdn.pandastream.com/u/1.4/jquery.panda-uploader.min.js' %>

<%= javascript_include_tag 'jwplayer.js' %>

  
  <!-- Third Step: Uploads -->  
  <div id="third_step" class="step_form">
    <h1>Upload</h1>
      <h2>Placeholder for picture upload</h2>
      <%= f.fields_for :pictures do |builder| %>
        <%= render "picture_fields", :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Add More Picture", f, :pictures %></p>
      
      <h2>Placeholder for Video upload</h2>
      <%= f.fields_for :videos do |builder| %> 
        <%= render "video_fields", :f => builder %>
      <% end %>      
      <p><%= link_to_add_fields "Add More Video", f, :videos %></p>

    <div class="footer_navigation" id="footer_navigation_third_step" name="footer_navigation_third_step">
      <input class="back_button nav_button" type="submit" name="submit_third_back" id="submit_third_back" value="BACK" />
      <input class="next_button nav_button" type="submit" name="submit_third_next" id="submit_third_next" value="SUBMIT" />
    </div>
  </div><!-- second_step-->
 
<% end %>
</div><!-- end of user_container-->
