
<h2>Sign up</h2>
<%= form_for @user, :html => { :class => "span6" } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <%= f.label :email, :class => "" %>
    <%= f.email_field :email, :class => "span12", :placeholder => "Your email" %>
  </div>
  <div class="row-fluid controls controls-row">
    <%= f.label "Name" %>
    <%= f.text_field :firstName, :class => "span6", :placeholder => "First Name" %>
    <%= f.text_field :lastName, :class => "span6", :placeholder => "Last Name" %>
  </div>
  <div class="row-fluid">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "span12" %>
  </div>
  <div class="row-fluid">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "span12" %>
  </div>
  <div class="actions pull-right"><%= f.submit %></div>
<% end %>
