<p id="notice"><%= notice %></p>
<article>
  <header>
    <h2>Basic info</h2>
  </header>
<% unless @user.thumbnail_url(:thumb).nil? %>
  <p>
    <b>Thumbnail</b>
    <%= image_tag @user.thumbnail_url(:thumb) %>
  </p>
<% end %>
<% unless @user.email.nil? %>
  <p>
    <b>email</b>
    <%= @user.email %>
  </p>
<% end %>
<% unless @user.firstName.nil? && @user.lastName.nil? %>
  <p>
    <b>Name</b>
    <%= @user.firstName %> <%= @user.lastName %> 
  </p>
<% end %>
<% unless @user.imdbUrl.nil? %>
  <p>
    <b>IMDB URL</b>
    <%= @user.imdbUrl %>
  </p>
<% end %>
<% unless @user.facebookId.nil? %>
  <p>
    <b>Facebook ID</b>
    <%= @user.facebookId %>
  </p>
<% end %>
<% unless @user.twitterId.nil? %>
  <p>
    <b>Twitter ID</b>
    <%= @user.twitterId %>
  </p>
<% end %>
<% unless @user.linkedInUrl.nil? %>
  <p>
    <b>LinkedIn URL</b>
    <%= @user.linkedInUrl %>
  </p>
<% end %>
<% unless @user.selfBio.nil? %>
  <p>
    <b>SelfBio</b>
    <%= @user.selfBio %>
  </p>
<% end %>

<p>
  <b>Cities</b>
  <% @city_tags.each do |city| %>
     <a class="tag city_tag"><%= city %></a>
  <% end %> 
</p>
</article>
<article>
  <header>
    <h2>Roles</h2>
  </header>

</article>
<article>
  <header>
    <h2>Pictures</h2>
  </header>
  <%= render :partial => 'pictures/list_picture', :locals => { :pictures => @user.pictures, :image_size => "120x120", :parent => @user } %>

</article>
<article>
  <header>
    <h2>Videos</h2>
  </header>
    <%= render :partial => "videos/list_video", :locals => { :videos => @user.videos, :parent => @user } %>
</article>

<%= link_to 'Edit', edit_audition_path(@audition) %> |
<%= link_to 'Back', auditions_path %>
<%= javascript_include_tag params[:controller] %> 
