<%= form_for(@audition_admin) do |f| %>
  <% if @audition_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audition_admin.errors.count, "error") %> prohibited this audition_admin from being saved:</h2>

      <ul>
      <% @audition_admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :audition_id %><br />
    <%= f.number_field :audition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
