<p id="notice"><%= notice %></p>
<%= image_tag @picture.image_url(:thumb)%>
<%= image_tag @picture.image_url()%><br />
<%= image_tag @picture.image_url(:small_thumb)%>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
