<%= form_for(@role_question) do |f| %>
  <% if @role_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_question.errors.count, "error") %> prohibited this role_question from being saved:</h2>

      <ul>
      <% @role_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
