<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lab34</title>
  <%= javascript_include_tag "application", :debug => true %>
  <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js' %>

  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= csrf_meta_tags %>
  <!--Rails.js file? -->
</head>
<body>
  <div id="container">
    <header>
      <div id="topHeader">
        <h1>ODtion.com</h1>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <div id="user_nav">
          <% if current_user %>
            Logged in as <%= current_user.email %>
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", sign_up_path %>
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
      </div>
      <nav class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="/">ODtion</a>
            <ul class="nav">
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Auditions
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Link1</a></li>
                  <li><a href="#">Link2</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Actor
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Link1</a></li>
                  <li><a href="#">Link2</a></li>
                </ul>
              </li>
            </ul>
         
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
              <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--Feature Section -->
    <aside id="featured" class="body">
      <article>
        Feature Section
        <figure></figure>
      </article>
    </aside>
    
    <section id="content">
      <%= yield %>
    </section>
    
    <footer>
      Footer
    </footer>
  </div>
</body>
</html>
