<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lab34</title>
  <%= javascript_include_tag 'http://cdn.pandastream.com/u/1.3/jquery.panda-uploader.min.js' %>
  <!--
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 
      "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js", "application"%>
      -->
  <%= javascript_include_tag "application", :debug => true %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= csrf_meta_tags %>
  <!--Rails.js file? -->
</head>
<body>
  <header>
    <div id="topHeader">
      <h1>ODtion.com</h1>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div id="user_nav">
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <%= link_to "Log out", logout_path %>
        <% else %>
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
    </div>
    <nav id="topNav">
      <ul>
        <li><a href="#" title="Nav Link 1">Nav Link 1</a></li>  
        <li><a href="#" title="Nav Link 1">Nav Link 2  
          <ul>
            <li><a href="#" title="Sub Nav Link 1">Sub Nav Link 1</a></li>  
            <li><a href="#" title="Sub Nav Link 2">Sub Nav Link 2</a></li>  
            <li><a href="#" title="Sub Nav Link 3">Sub Nav Link 3</a></li>  
            <li><a href="#" title="Sub Nav Link 4">Sub Nav Link 4</a></li>  
            <li class="last"><a href="#" title="Sub Nav Link 5">Sub Nav Link 5</a></li>  
          </ul>
        </li>
        <li><a href="#" title="Nav Link 3">Nav Link 3</a></li>  
        <li><a href="#" title="Nav Link 4">Nav Link 4</a></li>  
        <li><a href="#" title="Nav Link 5">Nav Link 5</a></li>  
      </ul>
    </nav>
  </header>
  <!--Feature Section -->
  <aside id="featured" class="body">
    <article>
      Feature Section
      <figure></figure>
    </article>
  </aside>
  
  <section>
    <%= yield %>

  </section>
  
  <footer>
    Footer
  </footer>



</body>
</html>
