<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Lab34" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application", :debug => true %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
    <%= csrf_meta_tags %>
    <!--Rails.js file? -->
  </head>
  <body>
    <header>
      <div id="topHeader">
        <h1>ODtion.com</h1>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <div id="user_nav">
          <% if current_user %>
            Logged in as <%= current_user.email %>
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", sign_up_path %>
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
      </div>

      <!-- Navbar -->
      <nav class="navbar navbar-fluid-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Lab34</a>
            <div class="container-fluid nav-collapse">
              <ul class="nav">
                <li><%= link_to "Link1", "/path1"  %></li>
                <li><%= link_to "Link2", "/path2"  %></li>
                <li><%= link_to "Link3", "/path3"  %></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </nav>
    </header>    
    <section class="container-fluid">
      <div class="row-fluid">
        <!--Feature Section -->
        <aside class="span3">
        </aside><!--/span-->
        <!-- Content -->
        <div class="span6">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <aside class="span3">
        </aside>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>      
    </section>
  </body>
</html>
